html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main {
  padding-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F9F8F6;
}

#name {
  margin: 0;
}

#title {
  font-size: 15px;
  margin-top: 3px;
}

#research {
  background-color: #D9CFC7;
  border: none;
  padding: 3px 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  cursor: pointer;
}